services:
  db:
    image: postgres:15-alpine
    container_name: ktor-postgres-db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      # This ensures your data persists even if you stop the container
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: